footer.text-center
  div.footer-above
    div.container
      div.row
        div.footer-col.col-md-4
          h3 Location
          p Galgotias College of Engg. and Tech.
            br
            | Greater Noida 201306
        div.footer-col.col-md-4
          h3 Around the Web
          ul.list-inline
            li
              a.btn-social.btn-outline(href="https://www.facebook.com/DeadMan.00191")
                i.fa.fa-fw.fa-facebook.offset-margin-top
            li
              a.btn-social.btn-outline(href="https://plus.google.com/106366694101322196056/")
                i.fa.fa-fw.fa-google-plus.offset-margin-top
            li
              a.btn-social.btn-outline(href="https://twitter.com/sachinbansal94")
                i.fa.fa-fw.fa-twitter.offset-margin-top
            li
              a.btn-social.btn-outline(href="https://in.linkedin.com/in/sachinbansal94")
                i.fa.fa-fw.fa-linkedin.offset-margin-top
            li
              a.btn-social.btn-outline(href="https://github.com/sachinB94")
                i.fa.fa-fw.fa-github.offset-margin-top
        div.footer-col.col-md-4
          h3 About me
          p Sachin Bansal is a Node.js developer still trying to find his way in this vast world of web.
  div.footer-below
    div.container
      div.row
        div.col-lg-12 Copyright © Sachin Bansal 2015
                    