header
  div.container
    div.row
      div.col-md-12
        img.img-responsive(src="/freelancer/img/profile.png" alt)
        div.intro-text
          span.name Sachin Bansal
          hr.star-light
          span.skills Node.js
          br
          span.skills JavaScript - jQuery - CoffeeScript
          br
          span.skills Java - Java EE - C/C++
          br
          span.skills HTML/CSS - Jade - Stylus
          br
          span.skills MongoDB - Redis
          br
          span.skills Apache hadoop - Apache Pig