<!DOCTYPE html>
html
  head
    meta(charset="utf=8")
    title sachinbansal
  link(href="/freelancer/css/bootstrap.min.css" rel="stylesheet")
  link(href="/freelancer/css/freelancer.css" rel="stylesheet")
  link(href="/freelancer/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet")
  link(href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css")
  link(href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css")
  link(href="images/favicon.ico" rel="icon" type="image/ico" )

  body#page-top.index
    include navbar.jade
    include header.jade
    include portfolio.jade
    include about.jade
    include contact.jade
    include footer.jade
    include scrollToTopButton.jade
    include portfolioModals.jade

    <script src="/freelancer/js/jquery.js"></script>
    <script src="/freelancer/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/freelancer/js/classie.js"></script>
    <script src="/freelancer/js/cbpAnimatedHeader.js"></script>
    <script src="/freelancer/js/jqBootstrapValidation.js"></script>
    <script src="/freelancer/js/contact_me.js"></script>
    <script src="/freelancer/js/freelancer.js"></script>