div#portfolioModal1.portfolio-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false")
  div.modal-content
    div.close-modal(data-dismiss="modal")
      div.lr
        div.rl
    div.container
      div.row
        div.col-md-8.col-md-offset-2
          div.modal-body
            h2 StoreSocial
            hr.star-primary
            img.img-responsive.img-centered(src="/freelancer/SVG/gps.svg" alt)
            p StoreSocial is a site (built but never launched) which acts as an online phone directory.
              | It is built on Node.js and uses MongoDB as its NoSQL database.
            ul.list-inline.item-details
              li Github link:
                strong
                  a(href="https://github.com/sachinB94/StoreSocial")  StoreSocial
            button.btn.btn-default(type="button" data-dismiss="modal")
              i.fa.fa-times
              |  Close

div#portfolioModal2.portfolio-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false")
  div.modal-content
    div.close-modal(data-dismiss="modal")
      div.lr
        div.rl
    div.container
      div.row
        div.col-md-8.col-md-offset-2
          div.modal-body
            h2 tf-idf
            hr.star-primary
            img.img-responsive.img-centered(src="/freelancer/SVG/satelite.svg" alt)
            p tf-idf is an NPM package implementing the tradational tf-idf amdorithm on a set of text documents.
            ul.list-inline.item-details
              li Github link:
                strong
                  a(href="https://github.com/sachinB94/tf-idf")  tf-idf
            button.btn.btn-default(type="button" data-dismiss="modal")
              i.fa.fa-times
              |  Close

div#portfolioModal3.portfolio-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false")
  div.modal-content
    div.close-modal(data-dismiss="modal")
      div.lr
        div.rl
    div.container
      div.row
        div.col-md-8.col-md-offset-2
          div.modal-body
            h2 vcfparse
            hr.star-primary
            img.img-responsive.img-centered(src="/freelancer/SVG/pencil.svg" alt)
            p vcfparse is an NPM package for reading and parsing a vcf/vCard file.
            ul.list-inline.item-details
              li Github link:
                strong
                  a(href="https://github.com/sachinB94/vcfparse")  vcfparse
            button.btn.btn-default(type="button" data-dismiss="modal")
              i.fa.fa-times
              |  Close

div#portfolioModal4.portfolio-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false")
  div.modal-content
    div.close-modal(data-dismiss="modal")
      div.lr
        div.rl
    div.container
      div.row
        div.col-md-8.col-md-offset-2
          div.modal-body
            h2 railway-api
            hr.star-primary
            img.img-responsive.img-centered(src="/freelancer/SVG/vespa.svg" alt)
            p railway-api is an NPM package implementing various functionalities of Indian railways.
              | Sachin's first attempt at coffee-script
            ul.list-inline.item-details
              li Github link:
                strong
                  a(href="https://github.com/sachinB94/railway-api")  railway-api
            button.btn.btn-default(type="button" data-dismiss="modal")
              i.fa.fa-times
              |  Close

