section#portfolio
  div.container
    div.row
      div.col-md-12.text-center
        h2 Portfolio
        hr.star-primary
    div.row
      div.col-sm-3.portfolio-item
        a.portfolio-link(href="#portfolioModal1" data-toggle="modal")
          div.caption
            div.caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src="/freelancer/SVG/gps.svg" alt)
      div.col-sm-3.portfolio-item
        a.portfolio-link(href="#portfolioModal2" data-toggle="modal")
          div.caption
            div.caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src="/freelancer/SVG/satelite.svg" alt)
      div.col-sm-3.portfolio-item
        a.portfolio-link(href="#portfolioModal3" data-toggle="modal")
          div.caption
            div.caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src="/freelancer/SVG/pencil.svg" alt)
      div.col-sm-3.portfolio-item
        a.portfolio-link(href="#portfolioModal4" data-toggle="modal")
          div.caption
            div.caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src="/freelancer/SVG/vespa.svg" alt)