doctype html
html
  head
    title Hacker News
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/material.min.css')
    link(rel='stylesheet', href='/stylesheets/util.css')
    script(src='/javascripts/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='/javascripts/material.min.js')
    script.
      $.material.init();
    
    script(src='/javascripts/user/login.js')
    script(src='/javascripts/user/register.js')
    script(src='/javascripts/analytics.js')