.list-item-head {
	color: #2ABB9B;
}

.list-item-body {
	font-size: 20px;
}

.edit-field {
	color: #37BC9B;
	font-size: 11px;
}

.image-resize-viewlist {
	width:769px;
	max-height:370px;
}

.rent {
	border: 1px solid #aaa;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 3px;
}