doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1", charset="utf-8")
		title Rentola: find a heaven
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/bootflat/css/bootflat.css')
		link(rel='stylesheet', href='/AdminLTE/css/AdminLTE.css')
		link(rel='stylesheet', href='/AdminLTE/css/font-awesome.min.css')
		<script src='/javascripts/jquery.js'></script>
		<script src='/bootstrap/js/bootstrap.min.js'></script>
		<script src="/AdminLTE/js/AdminLTE/app.js"></script>
		<script src='/bootflat/js/icheck.min.js'></script>
		<script src='/javascripts/jqBootstrapValidation.js'></script>
		<script src='/javascripts/main.js'></script>
	body