include userhomelayout.jade

link(rel='stylesheet', href='/stylesheets/index.css')

div.row.margin-top-20
	div.col-md-1
	div.col-md-10
		include favouriteindexlisting.jade

include footer.jade